:root {
    --mainColor: #FFF3E3;
    --seconderyColor: #B88E2F;
}




/* start header */
.header nav {
    background-color: #FFFFFF;
}

.header .navbar-nav {
    margin: auto;
    gap: 1rem;
    font-weight: 700;
}

.header .icons {
    display: flex;
    gap: 3rem;

}

@media screen and (max-width:320px) {
    .header .icons {
        display: none;
    }
}

@media screen and (min-width:321px) and (max-width:576px) {
    .header .icons {
        display: none;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
    .header .icons {
        display: none;
    }
}

/* end header */
/* start hero */
.hero {
    background-image: url('../images/hero/bg.webp');
    background-position: center;
    background-size: cover;

}

.hero .hero-content {
    width: 500px;
    height: 350px;
    background-color: var(--mainColor);
    position: absolute;
    top: 280px;
    right: 220px;
    padding: 33px;
}

.hero-content .note {
    font-size: 17px;
}

.hero-content .title {
    color: var(--seconderyColor);
    font-weight: 700;
}

.hero-content .btn {
    background-color: var(--seconderyColor);
    color: white;
    padding: 15px 35px;
    font-weight: 700;
}

@media screen and (max-width:320px) {
    .hero .hero-content {
        left: 15px;
        width: 280px;
        height: 350px;
    }
}

@media screen and (min-width:321px) and (max-width:576px) {
    .hero .hero-content {
        right: 10px;
        width: 300px;
        height: 330px;
    }
}

@media screen and (min-width:577px) and (max-width:768px) {
    .hero .hero-content {
        right: 30px;
        width: 400px;
        height: 320px;
    }
}

@media screen and (min-width:769px) and (max-width:992px) {
    .hero .hero-content {
        right: 50px;
        width: 430px;
        height: 350px;
    }
}

@media screen and (min-width:993px) and (max-width:1200px) {
    .hero .hero-content {
        right: 55px;
        width: 460px;
        height: 350px;
    }
}

@media screen and (min-width:1201px) and (max-width:1400px) {
    .hero .hero-content {
        right: 55px;
        width: 460px;
        height: 350px;
    }
}

/* end hero  */
/* start range */
.range .title {
    font-weight: 700;
     font-size: 40px;
}

.range .rangeContent {
    flex: 1 0 250px;
}

.range .rangeContent h2 {
    font-size: 1.7rem;
}

@media screen and (max-width:768px) {
    .range .rangeContent h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:768px)and (max-width:992px) {
    .range .rangeContent .thirdImg {
        width: 280px;
        height: 350px;
        margin: auto;
    }

    .range .rangeContent h2 {
        font-size: 1.6rem;
    }
}

/* end range */
/* start products */
.products .title
{
    font-weight: 700;
    font-size: 40px;
}

 .row>*{
  padding:0;
}
.products .card{
   flex: 1 0 250px; 
}
.card{
    border-radius: 0;
 position:relative;
}
.products img
{
    border-radius: 0;
    position:relative;
}
.products .sale30
{
    position:absolute;
    top:20px;
    right:30px;
}
.btn{
    border-radius:unset;
}
.card .btn
{
    display:none;
    position:absolute;
    top:150px;
    right:80px;
    color:var(--seconderyColor);
    background-color: white;
    font-weight: 700;
    z-index:2;
    padding:10px 30px;
   
    
}
.products .card-body
{
    background-color: #F4F5F7;
    display:flex;
    flex-direction: column;
    align-items: start;
}
.card-body p,.card-body .old-price{
color:#898989;
}
.card-body .old-price
{
    text-decoration: line-through;
    font-size: 15px;
}
.card-body .new-price
{
    font-weight: 700;
    font-size: 18px;
    
}
.card::after{
    content:'';
    background: rgpa(0,0,0,0);
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    transition:all 0.9s 0s ;
}
.card:hover::after
{
background:rgba(0, 0, 0, 0.596)

}
.card:hover .btn{
    display:block;
}

/* end products */ 