/* start header */
.header .navbar-nav
{
    margin:auto;
    gap:1rem;
    font-weight:700;
}
 .header .icons
{
    display:flex;
    gap: 3rem;

} 
@media screen and (max-width:320px)
{
    .header .icons
    { 
     display:none;
    }
}
@media screen and (min-width:321px) and (max-width:576px)
{
        .header .icons
    { 
        display:none;
    }
}
@media screen and (min-width:577px) and (max-width:768px)
{ 
       .header .icons
    { 
        display:none;
    }
}
/* end header */ 